body {
  text-align: center;
}
button#rollBtn {
  background-color: #FFDC00;
  border-radius: 50%;
}
button#holdBtn {
  background-color: hsl(0, 55%, 80%);
}
#player2Btns{
  display: none;
}
#player1Btns{
  display: show;
}
