body {
  text-align: center;
}
button.rollBtn {
  background-color: #FFDC00;
  border-radius: 50%;
}
button.holdBtn {
  background-color: hsl(0, 55%, 80%);
}
#player2Buttons {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
#player1Buttons {
  display: show;
  padding-top: 15px;
  padding-bottom: 15px;
}
#player0Buttons {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
#player1Go {
  display: none;
}
#player2Go {
  display: none;
}
#youRolled1 {
  display: none;
}
#gameOver {
  display: none;
}
#displayBox {
  height: 75px;
  width: 350px;
  background: rgb(128,103,187);
  background: radial-gradient(circle, rgba(128,103,187,1) 0%, rgba(122,251,162,1) 94%);
  margin: auto;
  border-radius: 12%;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
}
